CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
*.json
CTestTestfile.cmake
_deps
*.syntax_tree
*.bytecode
*.l
test.lax
complax
lax
lax-tests
tmp